  <ul>
    <% @goals.each do |goal| %>
      <li><%= goal["goal"] %></li>
    <% end %>
  </ul>

  <form action="/launcher-bucket-list" method="post">
    <label for="new_goal">Add New Goal to Bucket List</label>
    <input type="text" name="goal" id="new_goal"></input>

    <input type="submit" value="Add"></input>
  </form>
